# NOTEBOOK SETUP

In [1]:
# IMPORT REQUIRED LIBRARIES
import os

import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'c:\\Users\\paulo\\OneDrive\\TRABALHO_AULAS\\AL20252026\\1S_MstCDCS_EOAD\\Block1\\EOAD_Block1_PracticeRepository\\notebooks\\management_help'

# READ DATA

In [3]:
df_alunos_eoad = pd.read_excel( r'C:\Users\paulo\OneDrive\TRABALHO_AULAS\AL20252026\1S_MstCDCS_EOAD\EOAD2526_ADMIN.xlsx', sheet_name='EOAD2526_ADMIN')

In [4]:
df_alunos_eoad.columns

Index(['D_Turma', 'Nome', 'SEXO', 'Lotacao', 'Opcao', 'email', 'NMecAluno',
       'CodCurso', 'Regime', 'DescRegime', 'DataRegisto',
       'SELECT_STATS_WORK_1'],
      dtype='object')

In [5]:
df_alunos_eoad_group1 = df_alunos_eoad[df_alunos_eoad.SELECT_STATS_WORK_1 == 1]
df_alunos_eoad_group2 = df_alunos_eoad[df_alunos_eoad.SELECT_STATS_WORK_1 == 2]

In [6]:
df_alunos_eoad_group1.iloc[[0,-1]]

,D_Turma,Nome,SEXO,Lotacao,Opcao,email,NMecAluno,CodCurso,Regime,DescRegime,DataRegisto,SELECT_STATS_WORK_1
0,TP,SARA SEIXAS DIAS,F,45.0,0.0,saraseixasdias@ua.pt,65609,9271.0,O,Ordinário,2025-09-12 18:22:42,1
29,NaN,João Costa,NaN,NaN,NaN,NaN,113564,NaN,NaN,NaN,NaT,1

In [7]:
# Shuffle the student names column
df_alunos_eoad_group1_shuffled = df_alunos_eoad_group1.sample(frac=1, random_state=41).reset_index(drop=True)

In [8]:
# Total number of students
n_students = df_alunos_eoad_group1_shuffled.shape[0]

# Determine number of groups of 3 and groups of 2
n_groups_of_3 = n_students // 3
remaining_groups_students = n_students % 3

print(n_groups_of_3, remaining_groups_students)

# If there are remaining students (1 or 2), adjust the number of groups
if remaining_groups_students == 1:
    # If there is 1 student left over, break one group of 3 into two groups of 2
    n_groups_of_3 -= 1
    n_groups_of_2 = 2
elif remaining_groups_students == 2:
    # If there are 2 students left over, they form one group of 2
    n_groups_of_2 = 1
else:
    n_groups_of_2 = 0

# Assign group numbers: start by assigning students to groups of 3
group_numbers = np.concatenate([
    np.repeat(np.arange(n_groups_of_3), 3),
    np.repeat(np.arange(n_groups_of_3, n_groups_of_3 + n_groups_of_2), 2)
])

# Add the group assignment to the DataFrame
df_alunos_eoad_group1_shuffled['Group'] = group_numbers

5 0

In [9]:
df_alunos_eoad_group1_shuffled.columns

Index(['D_Turma', 'Nome', 'SEXO', 'Lotacao', 'Opcao', 'email', 'NMecAluno',
       'CodCurso', 'Regime', 'DescRegime', 'DataRegisto',
       'SELECT_STATS_WORK_1', 'Group'],
      dtype='object')

In [12]:
df_alunos_eoad_group1_shuffled[['Nome', 'NMecAluno', 'Group']].to_csv('EOAD2526_Group1_Assignments.csv', index=False)

In [13]:
# Shuffle the student names column
df_alunos_eoad_group2_shuffled = df_alunos_eoad_group2.sample(frac=1, random_state=41).reset_index(drop=True)

In [14]:
# Total number of students
n_students = df_alunos_eoad_group2_shuffled.shape[0]

# Determine number of groups of 3 and groups of 2
n_groups_of_3 = n_students // 3
remaining_groups_students = n_students % 3

print(n_groups_of_3, remaining_groups_students)

# If there are remaining students (1 or 2), adjust the number of groups
if remaining_groups_students == 1:
    # If there is 1 student left over, break one group of 3 into two groups of 2
    n_groups_of_3 -= 1
    n_groups_of_2 = 2
elif remaining_groups_students == 2:
    # If there are 2 students left over, they form one group of 2
    n_groups_of_2 = 1
else:
    n_groups_of_2 = 0

# Assign group numbers: start by assigning students to groups of 3
group_numbers = np.concatenate([
    np.repeat(np.arange(n_groups_of_3), 3),
    np.repeat(np.arange(n_groups_of_3, n_groups_of_3 + n_groups_of_2), 2)
])

# Add the group assignment to the DataFrame
df_alunos_eoad_group2_shuffled['Group'] = group_numbers

5 0

In [15]:
df_alunos_eoad_group2_shuffled.columns

Index(['D_Turma', 'Nome', 'SEXO', 'Lotacao', 'Opcao', 'email', 'NMecAluno',
       'CodCurso', 'Regime', 'DescRegime', 'DataRegisto',
       'SELECT_STATS_WORK_1', 'Group'],
      dtype='object')

In [16]:
df_alunos_eoad_group2_shuffled[['Nome', 'NMecAluno', 'Group']].to_csv('EOAD2526_Group2_Assignments.csv', index=False)